
/*Universal styles*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
   border: 1px solid black;
}

body {
  font-family: "Helvetica", sans-serif;
}

html {
  font-size: 18px;
}


.container {
  width: 100%;
  margin: 0 auto;
}



header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: cadetblue;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;

}

.logo img {
  height: 20px;
}

header nav {
  padding-right: 40px;
}

nav .menu {
  display: none;
}


.logo span {
  display: none;
}

@media only screen and (min-width: 470px) {

  nav .mobile-menu {
    display: none;
  }

nav .menu {
  display: flex;
}

.menu span {
  padding: .5rem;
}

.logo span {
  display: inline-block;
  padding: 1rem;
}

  }





/*Main Banner*/





.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
  height: 14rem;
  margin-bottom: 3rem;
}

.headline {
  position: relative;
  top: 9rem;
  padding: 1rem 1rem;
  background-color: white;
  color: black;
}

.headline h1 {
  font size: 1rem;
  text-align: center;
  font-weight: bold;
}


@media only screen and (min-width: 470px) {

.main-banner {
    height: 17rem;
}


  .headline {
    width: 30rem;
    left: 50%;
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
    font-weight: bold;
  }



}


@media only screen and (min-width: 768px) {

.main-banner {
    height: 17rem;
}


  .headline {
    width: 30rem;
    left: 50%;
    font-size: 1.33rem;
    padding: .75rem .75rem;
    font-weight: bold;
    margin-right: 2rem;
  }



}







/*Products and Business Info section*/

.products .business-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem,
}



.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding: 3.5rem 0;
}


.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  text-align: center;
}


.info {
  width: 90%;
  margin: 0.5rem auto;
  padding-top: 3.77rem;
}

.info .title {
  display: block;
  padding: 1rem 4rem;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

footer {
  padding: 4rem 0;
  margin-top: 4rem;
  background-color: azure;
  text-align: center;
}

footer img {
  height: 20px;
}
